version: '3.8'

services:
  # worker:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: devsync_worker
  #   restart: always
  #   env_file:
  #     - .env
  #   environment:
  #     TYPE: worker
  #     PORT: 3001
  #   depends_on:
  #     mysql:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    ports:
      - '${DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    volumes:
      - ./db-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test:
        [
          'CMD',
          'mysqladmin',
          'ping',
          '-h',
          'localhost',
          '-u',
          'root',
          '-p${DB_PASSWORD}',
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: redis_db
    restart: always
    volumes:
      - ./redis-data:/data
    ports:
      - '${REDIS_PORT:-6379}:6379'
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
